Repository wylyK/pawnder, pull requests merged in 2024-11, with the labels that each got.

#11 petmodel and introduce docs for development
  backend/api/pets.py
  backend/models/event.py
  backend/models/health.py
  backend/models/match.py
  backend/models/pet.py
  docs/development.md
Labels: documentation, backend

#14 Pawnder API
  backend/api/petMatch.py
  backend/app.py
  backend/firestore_client.py
  backend/models/match.py
Labels: backend

#15 update README.md file
  README.md
  docs/api_instructions.md
Labels: documentation

#21 Merge Frontend
  frontend/package.json
  frontend/public/Catto2.webp
  frontend/public/catto.jpeg
  frontend/public/dog2.avif
  frontend/public/doggo.JPG
  frontend/public/retriever.jpeg
  frontend/src/app/globals.css
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/page/userprofile/page.tsx
  frontend/src/app/pet/[id]/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/Home/Home.module.css
  frontend/src/components/Home/Home.tsx
  frontend/src/components/LoginForm/LoginForm.module.css
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/components/LoginForm/SignupForm.module.css
  frontend/src/components/LoginForm/SignupForm.tsx
  frontend/src/components/Navigation/NavBar.module.css
  frontend/src/components/Navigation/NavBar.tsx
  frontend/src/components/PetOverview/Modal.module.css
  frontend/src/components/PetOverview/Modal.tsx
  frontend/src/components/PetOverview/PetOverview.module.css
  frontend/src/components/PetOverview/PetOverview.tsx
  frontend/src/components/PetOverview/PetProfile.module.css
  frontend/src/components/PetOverview/PetProfile.tsx
  frontend/src/components/Reminder/Reminders.module.css
  frontend/src/components/Reminder/Reminders.tsx
  frontend/src/components/VetPage/VetHomePage.module.css
  frontend/src/components/VetPage/VetHomePage.tsx
  frontend/src/components/VetPage/VetPetOverview.module.css
  frontend/src/components/VetPage/VetPetOverview.tsx
  frontend/src/components/VetPage/VetPetProfile.module.css
  frontend/src/components/VetPage/VetPetProfile.tsx
Labels: frontend

#19 refractor api and introduce get pet by type and get pet by location
  backend/api/petHealth.py
  backend/api/petMatch.py
  backend/api/pets.py
  backend/api/users.py
  backend/app.py
  backend/firestore_client.py
  backend/models/pet.py
  docs/api_instructions.md
  docs/development.md
  frontend/package-lock.json
Labels: backend
